

<div id="fullpage">
	<div class="section">
		<div id="particles-js"></div>
		<%= link_to root_path, class: 'centered' do %>
		<%= image_tag 'LogoLKDigital.png', alt: 'logo lkdigital', id: 'height_logo' %>
		<% end %>
	</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
</div>

<script>
	$(document).ready(function() {
		$('#fullpage').fullpage({
		//options here
			autoScrolling:true,
			scrollHorizontally: true
		});

		//methods
		$.fn.fullpage.setAllowScrolling(false);
	});
</script>