<div id="particles-js"></div>

<div id="fullpage">
	<div class="section">
		<%= link_to root_path, class: 'centered' do %>
		<%= image_tag 'LogoLKDigital.png', alt: 'logo lkdigital', id: 'height_logo' %>
		<% end %>
	</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
	<div class="section">Some section</div>
</div>

<script>
	$(document).ready(function() {
		$('#fullpage').fullpage({
			autoScrolling:true,
			scrollHorizontally: true,
			menu: '#menu',
			lockAnchors: false,
			anchors:['firstPage', 'secondPage'],
			navigation: false,
			navigationPosition: 'right',
			navigationTooltips: ['firstSlide', 'secondSlide'],
			showActiveTooltip: false,
			slidesNavigation: false,
			slidesNavPosition: 'bottom',

			css3: true,
			scrollingSpeed: 700,
			fitToSection: true,
			fitToSectionDelay: 1000,
			scrollBar: false,
			easing: 'easeInOutCubic',
			easingcss3: 'ease',
			loopBottom: false,
			loopTop: false,
			loopHorizontal: true,
			continuousVertical: false,
			continuousHorizontal: false,
			interlockedSlides: false,
			dragAndMove: false,
			offsetSections: false,
			resetSliders: false,
			fadingEffect: false,
			normalScrollElements: '#element1, .element2',
			scrollOverflow: false,
			scrollOverflowReset: false,
			scrollOverflowOptions: null,
			touchSensitivity: 15,
			normalScrollElementTouchThreshold: 5,
			bigSectionsDestination: null,

			keyboardScrolling: true,
			animateAnchor: true,
			recordHistory: true,

			controlArrows: true,
			verticalCentered: true,
			sectionsColor : ['#ccc', '#fff'],
			paddingTop: '3em',
			paddingBottom: '10px',
			fixedElements: '#header, .footer',
			responsiveWidth: 0,
			responsiveHeight: 0,
			responsiveSlides: false,
			parallax: false,
			parallaxOptions: {type: 'reveal', percentage: 62, property: 'translate'},

			sectionSelector: '.section',
			slideSelector: '.slide',

			lazyLoading: true,
		});

		$.fn.fullpage.setAllowScrolling(false);
	});
</script>