<% if current_page?('/') %>
<div class="menu-icon">
  <span class="menu-icon__line menu-icon__line-left"></span>
  <span class="menu-icon__line"></span>
  <span class="menu-icon__line menu-icon__line-right"></span>
</div>

<div class="nav">
  <div class="nav__content">
    <ul class="nav__list">
      <li class="nav__list-item mx-auto h3"><a href="#venice-beach" title="Home">HOME</a></li>
      <li class="nav__list-item mx-auto h3"><a href="#los-angeles" title="About Us">ABOUT US</a></li>
      <li class="nav__list-item mx-auto h3"><a href="#san-diego" title="Projects">PROJECTS</a></li>
      <li class="nav__list-item mx-auto h3"><a href="#sanfran" title="Education">EDUCATION</a></li>
      <li class="nav__list-item mx-auto h3"><a href="#newyork" title="Contact">CONTACT</a></li>
    </ul>
  </div>
</div>

<div id="navMenu" class="diamond">
  <div id="mainRotCorrect" class="rotCorrect">
    <i class="fa fa-cubes " style="font-size: 1.5em;margin-left: 11%; margin-top: 6%;" aria-hidden="true"></i>
  </div>
</div>
<div id="nav1" class="navsecond nav1 diamond smallsecond">
  <div class="rotCorrect">
    <a href="#venice-beach" title="Home">
      <i class="fa fa-home" style="font-size: 1.5em; margin-left: 10%;
      margin-top: 16%;" aria-hidden="true"></i>
    </a>
  </div>
</div>
<div id="nav2" class="navsecond nav2 diamond smallsecond">
  <div class="rotCorrect">
    <a href="#los-angeles" title="About us">
      <i class="fas fa-user-astronaut" style="font-size: 1.5em; margin-left: 17%;
      margin-top: 16%;" aria-hidden="true"></i>
    </a>
  </div>
</div>
<div id="nav3" class="navsecond nav3 diamond smallsecond">
  <div class="rotCorrect">
    <a href="#san-diego" title="Projects">
      <i class="fas fa-project-diagram" style="font-size: 1.5em; margin-left: 11%;
      margin-top: 25%;" aria-hidden="true"></i>
    </a>
  </div>
</div>
<div id="nav4" class="navsecond nav4 diamond smallsecond">
  <div class="rotCorrect">
    <a href="#sanfran" title="Education">
      <i class="fas fa-robot" style="font-size: 1.5em; margin-left: 11%;
      margin-top: 17%;
      " aria-hidden="true"></i>
    </a>
  </div>
</div>

<div class="city-navigation-wrapper">
  <nav>
    <ul id="city-nav" class="city-navigation">
      <li data-menuanchor="venice-beach" class="active">
        <a href="#venice-beach" title="Home"><span class="hide-active">HOME</span></a>
      </li>
      <li data-menuanchor="los-angeles" >
        <a href="#los-angeles" title="About us"><span class="hide-active">ABOUT US</span></a>
      </li>
      <li data-menuanchor="san-diego" >
        <a href="#san-diego" title="PROJECTS"><span class="hide-active">PROJECTS</span></a>
      </li>
      <li data-menuanchor="sanfran" >
        <a href="#sanfran" title="EDUCATION"><span class="hide-active">EDUCATION</span></a>
      </li>
      <li data-menuanchor="newyork" >
        <a href="#newyork" title="CONTACT"><span class="hide-active">CONTACT</span></a>
      </li>
    </ul>
  </nav>
</div>

<script >

  const app = (() => {
    let body;
    let menu;
    let menuItems;

    const init = () => {
      body = document.querySelector('body');
      menu = document.querySelector('.menu-icon');
      menuItems = document.querySelectorAll('.nav__list-item');

      applyListeners();
    }

    const applyListeners = () => {
      menu.addEventListener('click', () => toggleClass(body, 'nav-active'));
    }

    const toggleClass = (element, stringClass) => {
      if(element.classList.contains(stringClass))
        element.classList.remove(stringClass);
      else
        element.classList.add(stringClass);
    }

    init();
  })();

  $(document).ready(function() {
    $("#navMenu").click(function() {
   //$(".nav").toggleClass("small");
   if ($(".navsecond").hasClass("smallsecond")) {
    $(".navsecond").removeClass("smallsecond");
  } else {
    $(".navsecond").addClass("smallsecond");
  }
});
  });

</script>
<% end %>