
<div>

	<div class="container">

		<div class="row">
			<h1>Notre Histoire</h1>
			<p>L’agence LK Digital a été créée en 2018 par deux amis qui se sont rencontrés à l’école ETNA (école d’info) et leur passion commune du digital et de l’entrepreneuriat. Découvrant qu’ils avaient tous deux envie d’entreprendre, ils tout d’abord de se lancer en freelance, puis quelques années plus tard de monter leur agence digital LK Digital en combinant une lettre de leurs noms respectif. </p>
			<br><br>
			<h2>Freelance – Paris</h2>
			<br>
			<span>Basé à&nbsp;Paris mais également disponible pour vos projets à distance.
				<p>Que ce soit pour la&nbsp;
					<strong>création de site web</strong>
					&nbsp;et/ou pour&nbsp;
					<strong>divers projets digitaux</strong>, c’est ensemble que nous définirons vos besoins en fonction de vos objectifs, afin de vous proposer la solution la plus adéquate.</p>
					<p>Parce que nous accordons une grande importance à la relation humaine, nous serons votre interlocuteur unique privilégié tout au long des phases de votre projet.<br>
					Nous vous accompagnons et vous conseillons&nbsp;afin de&nbsp;booster votre visibilité sur le web&nbsp;et ainsi développer votre activité.</p>
				</span>
				<br><br>
				
				<div class="row carousel">

					<div class="responsive">
						<div class="gallery center">
							<%= image_tag 'lightbulb.png', alt: 'idea lkdigital' %>
							<h5 class="">Rigueur &amp; Qualité</h5>
							<div class="no-margin desc">
								<p>Nous attachons une importance particulière à mettre tout en oeuvre pour vous livrer un site web performant tout en respectant les délais fixés.</p>
							</div>
						</div>
					</div>

					<div class="responsive">
						<div class="gallery center">
							<%= image_tag 'clock.png', alt: 'rigueur lkdigital' %>
							<h5 class="" >Conseils &amp; écoute</h5>
							<div class="no-margin desc">
								<p>Chaque projet mérite une attention particulière. Nous vous apportons notre expertise pour vous conseiller et vous aider à faire les bons choix.</p>
							</div>
						</div>
					</div>



					<div class="responsive">
						<div class="gallery center">
							<%= image_tag 'user.png', alt: 'rigueur lkdigital' %>
							<h5 class="" >Proximité &amp; confiance</h5>
							<div class="no-margin desc">
								<p>Nous vous rencontrons pour prendre connaissance de votre projet. Il est important qu’une relation de confiance s’installe dès le début.</p>
							</div>
						</div>
					</div>


					<div class="responsive">
						<div class="gallery center">
							<%= image_tag 'speech.png', alt: 'communication lkdigital' %>
							<h5 class="" >Réactivité &amp; disponibilité</h5>
							<div class="no-margin desc">
								<p>Pour que notre collaboration soit efficace.<br><br>Nous vous informons et restons disponible tout au long des phases de réalisation du projet.</p>
							</div>
						</div>
					</div>
				</div>
			
				<!-- services -->
				<section class="services">
					<div class="wrapper" itemscope itemtype="http://schema.org/Service">
						<h1 class="text-center services-section-head" itemprop="name">Services</h1>
						<p class="text-center services-section-subtitle">Let’s work together on your next project.</p>

						<section class="pricing-section bg-12">
							<div class="pricing pricing--palden">

								<div class="pricing__item">
									<div class="pricing__deco">
										<svg class="pricing__deco-img" version="1.1" id="Layer_1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="100px" viewBox="0 0 300 100"
										enable-background="new 0 0 300 100" xml:space="preserve">
										<path class="deco-layer deco-layer--1" opacity="0.6" fill="#FFFFFF" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
										c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" />
										<path class="deco-layer deco-layer--2" opacity="0.6" fill="#FFFFFF" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
										c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" />
										<path class="deco-layer deco-layer--3" opacity="0.7" fill="#FFFFFF" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
										H42.401L43.415,98.342z" />
										<path class="deco-layer deco-layer--4" fill="#FFFFFF" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
										c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" />
									</svg>
									<div class="pricing__price">
										<img src="dist/images/undraw_wireframing_nxyi.svg" alt="">
									</div>
									<h3 class="pricing__title" itemprop="name">UI/UX Design</h3>
								</div>
							</div>

							<div class="pricing__item pricing__item--featured">
								<div class="pricing__deco">
									<svg class="pricing__deco-img" version="1.1" id="Layer_1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"
									xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="100px" viewBox="0 0 300 100"
									enable-background="new 0 0 300 100" xml:space="preserve">
									<path class="deco-layer deco-layer--1" opacity="0.6" fill="#FFFFFF" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
									c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" />
									<path class="deco-layer deco-layer--2" opacity="0.6" fill="#FFFFFF" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
									c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" />
									<path class="deco-layer deco-layer--3" opacity="0.7" fill="#FFFFFF" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
									H42.401L43.415,98.342z" />
									<path class="deco-layer deco-layer--4" fill="#FFFFFF" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
									c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" />
								</svg>
								<div class="pricing__price">
									<img src="dist/images/development.svg" alt="">
								</div>
								<h3 class="pricing__title" itemprop="name">Web Development</h3>
							</div>
						</div>

						<div class="pricing__item">
							<div class="pricing__deco">
								<svg class="pricing__deco-img" version="1.1" id="Layer_1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="100px" viewBox="0 0 300 100"
								enable-background="new 0 0 300 100" xml:space="preserve">
								<path class="deco-layer deco-layer--1" opacity="0.6" fill="#FFFFFF" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
								c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" />
								<path class="deco-layer deco-layer--2" opacity="0.6" fill="#FFFFFF" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
								c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" />
								<path class="deco-layer deco-layer--3" opacity="0.7" fill="#FFFFFF" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
								H42.401L43.415,98.342z" />
								<path class="deco-layer deco-layer--4" fill="#FFFFFF" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
								c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" />
							</svg>
							<div class="pricing__price">
								<img src="dist/images/undraw_mobile_marketing_iqbr.svg" alt="">                  
							</div>
							<h3 class="pricing__title" itemprop="name">Marketing</h3>
						</div>
					</div>

				</div>
			</section>

		</div>
	</section>

	<!-- contact-section -->
	<section id="contact" class="contact-section" itemscope itemtype="http://schema.org/Person">
		<h4 class="text-center contact-section-head">Contact</h4>
		<p class="text-center contact-section-subtitle">
			Do you need a new website or an app?
			<br>Or do you just want to talk and get some advice? Get in touch.
			<br><a itemprop="email" href="mailto:hello@lkdigital.eu">hello@lkdigital.eu</a>.
		</p>

		<form class="contact-section__form" action="https://formspree.io/hello@lkdigital.eu" method="post">
			<input type="text" name="name" placeholder="Name" required>
			<input type="email" name="email" placeholder="Email" required>
			<textarea name="message" rows="2" cols="80" placeholder="Message" required></textarea>
			<input type="hidden" name="_next" value="thanks.html" />
			<button type="submit" class="btn" name="button">Send</button>
		</form>
	</section>
	<br><br>
</div>

</div>

</div>	

<script>
	$('.carousel').slick({
		dots: false,
		autoplay: true,
		autoplaySpeed: 5000,
		infinite: true,
		speed: 300,
		arrows: false,
		slidesToShow: 2,
		slidesToScroll: 2,
		responsive: [
		{
			breakpoint: 1024,
			settings: {
				slidesToShow: 2,
				slidesToScroll: 2,
				infinite: true,
				dots: false
			}
		},
		{
			breakpoint: 600,
			settings: {
				slidesToShow: 1,
				slidesToScroll: 1
			}
		},
		{
			breakpoint: 480,
			settings: {
				slidesToShow: 1,
				slidesToScroll: 1
			}
		}
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
    ]
});
</script>