<section class="section">
  <div class="grid">
    
    <div class="item item--full">
      <div class="item__details">
        LK TRAVELS, blog de voyages, réalisé en node js et bdd mongo db. <a href="http://lktravels.fr" class="borderlink">Visiter le site</a>
      </div>
    </div>
    <div class="item item--full">
      <div class="item__details">
        Atypik House, site AirBnb like pour les hébergements insolites, réalisé en ruby on rails. <a href="https://atypikhouse.herokuapp.com" class="borderlink">Visiter le site</a>
      </div>
    </div>
    <div class="item item--full">
      <div class="item__details">
        Yakoi, blog podcast. <a href="http://yakoitalkshow.over-blog.com/" class="borderlink">Visiter le site</a>
      </div>
    </div>
    <div class="item item--full">
      <div class="item__details">
        Uthaya, site particulier statique. <a href="http://uthaya.fr" class="borderlink">Visiter le site</a>
      </div>
    </div>
    <div class="item item--full">
      <div class="item__details">
        dorian.lkdigital.eu, site particulier portfolio. <a href="http://dorian.lkdigital.eu" class="borderlink">Visiter le site</a>
      </div>
    </div>
    <div class="item item--full">
      <div class="item__details">
        YouTransactor, site entreprise 100% administrable, réalisé sous node js, bdd mongo db. <a href="http://youtransactor.com" class="borderlink">Visiter le site</a>
      </div>
    </div>
  </div>
</div>