/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require slick
 */


 @charset "UTF-8";
 @import url(https://fonts.googleapis.com/css?family=Roboto:300,900);
 @import "bootstrap";
 * {
  margin: 0px;

  padding: 0px;
  color: #ADE900; 
}

html {
  overflow: scroll;
  overflow-x: hidden; 
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #FF0000; 
}

body {
 background-color: #262b38;
}



#height_logo {
  height: 10em;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.bottom_left {
  position: fixed;
  display: block !important;
  top: 92%;
  left: 5%;
  transform: translate(-50%, -50%); 
}



$background--color:#1e2023;
$icon--color:#1e2023;
$font--color:#ffffff;
$font--color--active:#000000;
$font--primary:'Fira Sans', sans-serif;
$transition--length: .8;

body{
  background-color: $background--color;
  font-family: $font--primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li a {
  color: #ADE900 !important;
}

.site-content{
  max-width: 1100px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  &__headline{
    font-weight: 200;
    color: $font--color;
    font-size: calc(2vw + 10px);
  }
}

//default state
.menu-icon{
  $size: 30px;
  height: $size;
  width: $size;
  position: fixed;
  z-index:13;
  left: 20px;
  top: 20px;
  cursor: pointer;
  &__line{
    height: 2px;
    width: $size;
    display: block;
    background-color: $font--color;
    margin-bottom: 4px;
    transition: transform .2s ease, background-color .5s ease;
  }
  &__line-left{
    width: $size / 2;
  }
  &__line-right{
    width: $size / 2;
    float: right;
  }
}

.nav{
  $width: 100vw;
  $height: 100vh;
  $font--size--calc: calc(2vw + 10px);
  $transition--easing: cubic-bezier(.77,0,.175,1);
  position: fixed;
  z-index:12;
  &:before,&:after{
    content: "";
    position: fixed;
    width:$width;
    height:$height;
    background: rgba(#eaeaea, .2);
    z-index: -1;
    transition: transform $transition--easing $transition--length + s;
    transform: translateX(0%) translateY(-100%);
  }
  &:after{
    background: rgba(#ffffff, 1);
    transition-delay: 0s;
  }
  &:before{
    transition-delay: .1s;
  }
  &__content{
    position: fixed;
    top:50%;
    transform: translate(0%,-50%);
    width: 100%;
    text-align: center;
    font-size: $font--size--calc;
    font-weight: 200;
    cursor: pointer;
  }
  &__list-item{
    position: relative;
    display: block;
    transition-delay: $transition--length + s;
    opacity: 0;
    transform: translate(0%, 100%);
    transition: opacity .2s ease, transform .3s ease;
    margin-right: 25px;
  }
}

// active state
body.nav-active{
  $menu--items--count: 4;
  .menu-icon{
    &__line{
      background-color: #fff;
      transform: translateX(0px) rotate(-45deg);
    }
    &__line-left{
      transform: translateX(1px) rotate(45deg);
    }
    &__line-right{
      transform: translateX(-2px) rotate(45deg);
    }
  }
  .nav{
    visibility:visible;
    &:before,&:after{
      transform: translateX(0%) translateY(0%);
    }
    &:after{
      transition-delay: .1s;
      background-color: #1e2022;
    }
    &:before{
      transition-delay: 0s;
    }
    &__list-item{
      opacity: 1;
      transform: translateX(0%);
      transition: opacity .3s ease, transform .3s ease, color .3s ease;
      @for $i from 0 through $menu--items--count {
        &:nth-child(#{$i}){
          transition-delay: $transition--length * $i / 8 + .5 + s;
        }
      }
    }
  }
}



#navMenu {
  top: 82%;
  left: 3%;
  width: 45px;
  height: 45px;
  z-index: 11;
  background: linear-gradient(90deg, #ADE900, #069400, #ADE900);
  -webkit-background: linear-gradient(90deg, #ADE900, #069400, #ADE900);
  background-size: 400% 400%;
  -webkit-background-size: 88% 166%;
  animation: gradient 5s infinite;
  -webkit-animation: gradient 5s infinite;
}

#navMenu:hover, .nav:hover {
  background: #ADE900;
}

@keyframes gradient {
  50% {
    background-position: 100% 0;
  }
}
@-webkit-keyframes gradient {
  50% {
    background-position: 100% 0;
  }
}

.diamond {
  position: absolute;
  width: 45px;
  height: 45px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background: #ADE900;
  margin: 10px;
  cursor: pointer;
  box-shadow: 1px 4px 10px #101010;
}

.diamond:active {
  background: #710b9e;
  box-shadow: 0px 1px 2.5px #101010;
  transition: 0.1s;
  -webkit-transition: 0.1s;
}

/*.popUp{
  text-align:center;
  border-radius:10px 0px;
  position:absolute;
  top:100px;
  left:330px;
  overflow:hidden;
  background:red;
  width:0px;
  max-width:100px;
}

.#nav1:hover + .popUp{
  width:100px;
  }*/

  .navsecond {
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }

  .nav1 {
    top: 73%;
    left: 3.2%;
  }

  .nav2 {
    top: 73%;
    left: 65px;
  }

  .nav3 {
    top: 73%;
    left: 120px;
  }

  .nav4 {
    top: 73%;
    left: 175px;
  }

  .nav5 {
    top: 73%;
    left: 175px;
  }

  .smallsecond {
    top: 82%;
    left: 3%;
    margin-left: 0.7% !important;
    z-index: 10;
    background: #069400;
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }

  .rotCorrect {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 10px;
    margin-top: 3px;
  }

  #mainRotCorrect {
    margin-left: 10%;
    margin-top: 10%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    max-width: 90px;
  }

  i {
    color: #EEEEEE;
  }

@media screen and (min-width: 500px) {
  .nav2, .nav3, .nav4 {
    margin-left: 3%;
  }
}

