/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require slick
*/


@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Khula:700);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,900);
* {
  margin: 0px;
    font-family: "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;

  padding: 0px;
  color: #ADE900; }

html {
  overflow: scroll;
  overflow-x: hidden; }

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */ }

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000; }

body {
	background-color: #333;
}

a {
  font-family: "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-decoration: none; }

p {
  letter-spacing: 0px; }

  #particles-js {
  width: 100%;
  height: 100vh;
  background: #333;
}

footer {
	z-index: 9999999;
    position: fixed;
    top: 95vh;
    left: 5vh;
    background-color: #333;
}

.align {
	padding: 15px 30px;
}

.inline-block {
	display: inline-block;
}
.center {
	text-align: center;
}
.social {
	    text-align: center;
    border: 1px solid;
    padding: 10px;
}

#height_logo {
  height: 10em;}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

  .bottom_left {
  position: fixed;
  display: block !important;
  top: 92%;
  left: 3%;
  transform: translate(-50%, -50%); }

.bottom_right {
    display: block !important;

  position: fixed;
  top: 92%;
  left: 97%;
  transform: translate(-50%, -50%); }

.bottom_right img {
  width: 90%;
}

.top_left img {
  width: 70%;
}

.top_right img {
  width: 90%;
}
.top_left {
	  display: block !important;

  position: fixed;
  top: 8%;
  left: 4%;
  transform: translate(-50%, -50%); }

.top_right {
	  display: block !important;

  position: fixed;
  top: 8%;
  left: 97%;
  transform: translate(-50%, -50%); }


.myText {
  display: inline-block;
  color: #6eb500; }

.myText {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important; }


.bottom_left:hover .myText {
  top: 30% !important;
  display: inline-block;
  left: 2em !important; }

.top_left:hover .myText {
  top: 3vh !important;
    display: inline-block;
    left: 3.5em !important;
    width: 7em; }

.bottom_right:hover .myText {
 top: 3vh !important;
    display: inline-block;
    left: -10vh !important; }



.sidenav {
  height: 100%;
  opacity: 0.7;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 80%;
  background-color: #202629;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }

.sidenav a {
  padding: 8px 8px 8px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #6eb500;
  display: block;
  transition: 0.3s; }

.sidenav a:hover {
  color: #f1f1f1; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
  margin-left: 50px; }



#btn {
  position: fixed;
  z-index: 5;
  cursor: pointer;
  transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}
#btn div {
  width: 35px;
  height: 2px;
  margin-bottom: 8px;
  background-color: #00DFFC;
  transition: opacity 500ms, background-color 250ms, -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, background-color 250ms;
  transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, background-color 250ms, -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

#btn.active div {
  background-color: #343838;
}
#btn.active #top {
  -webkit-transform: translateY(10px) rotate(-135deg);
          transform: translateY(10px) rotate(-135deg);
}
#btn.active #middle {
  opacity: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
#btn.active #bottom {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

#box {
  position: fixed;
  z-index: 4;
  overflow: auto;
  top: 0px;
  right: -275px;
  width: 275px;
  opacity: 0;
  padding: 20px 0px;
  height: 100%;
  background-color: #333333;
  color: #343838;
  transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

#box.active {
  right: 0px;
  opacity: 1;
}

#items {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
#items .itemm {
  position: relative;
  cursor: pointer;
  font-size: 2em;
  padding: 15px 30px;
  transition: all 250ms;
}
#items .itemm:hover {
  padding: 15px 45px;
  background-color: rgba(52, 56, 56, 0.2);
}

#btn, #btn * {
  will-change: transform;
}

#box {
  will-change: transform, opacity;
}

@media (min-width: 1200px){
.container {
    width: 1100px;
}}

@media (min-width: 1200px){
.container {
    width: 1183px;
}}
@media (min-width: 992px){
.container {
    width: 970px;
}}
@media (min-width: 768px){
.container {
    width: 750px;
}}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10vh;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}


.no-margin {
    margin: 0 !important;
}

.gallery.center {
  border: 1px solid;
}

div.gallery img {
        width: 10%;
    height: auto;
    margin: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}



@supports (display: grid) {
  body,
  html {
    display: block;
  }
}

.message {
  border: 1px solid #d2d0d0;
  padding: 2em;
  font-size: 1.7vw;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
}
@supports (display: grid) {
  .message {
    display: none;
  }
}

.section {
  display: none;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 0;
  }
}
@supports (display: grid) {
  .section {
    display: block;
  }
}

h1 {
  font-size: 2rem;
  margin: 0 0 1.5em;
}

.grid {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;
  background: url("https://image-store.slidesharecdn.com/5dbc7061-a3ae-43a6-9af5-330f06726e45-original.png");
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter;
}
.item:nth-of-type(2n) {
  background-image: url("https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/35833501_1855467191424415_1143475235140403200_o.jpg?_nc_cat=0&oh=77574b376ee475d0843aba88a503b733&oe=5C3AA583");
}

.item:nth-of-type(3n) {
  background-image: url("https://image-store.slidesharecdn.com/a515d321-e5f9-44b5-acb8-6fc4ba970b4e-original.png");
}
.item:nth-of-type(4n) {
  background-image: url("https://scontent-cdg2-1.xx.fbcdn.net/v/t31.0-8/26170574_1778049429166192_9217842039789120755_o.png?_nc_cat=0&oh=5a73a3bcfd2c637a7331d558cf701fb6&oe=5BF38B37");
}
.item:nth-of-type(5n) {
  background-image: url("https://scontent-cdg2-1.xx.fbcdn.net/v/t31.0-8/26171400_1778041425833659_3960473336570869201_o.png?_nc_cat=0&oh=4cec0aad2b5cca1bc0ff17063258b609&oe=5BF232C4");
}
.item:nth-of-type(6n) {
  background-image: url("https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/35886250_1855467558091045_5843981331867893760_o.jpg?_nc_cat=0&oh=758edfc5c2a16144da219f9b9a2b1d75&oe=5C31D1B1");
}
.item:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
.item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.item:hover:after {
  opacity: 0;
}
.item--medium {
  grid-row-end: span 2;
}
.item--large {
  grid-row-end: span 3;
}
.item--full {
  grid-column-end: auto;
}
@media screen and (min-width: 768px) {
  .item--full {
    grid-column: 1/-1;
    grid-row-end: span 2;
  }
}
.item:hover .item__details {
	display: block;
}
.item__details {
  position: relative;
  z-index: 1;
  display: none;
  padding: 15px;
  color: #444;
  background: #333;
	margin-left: 2%;
  letter-spacing: 1px;
  color: #ADE900;
}

.borderlink {
	border: 1px solid;
	padding: 5px;
}

/**** WORK ***/
.work-section {
  padding: 5em 0;
  max-width: 1000px;
  margin: 0 auto;
}

hr.hr {
  border-bottom: 1px solid #dadada;
  max-width: 500px;
}

.background-heading {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
  margin: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity .4s cubic-bezier(.42, .01, .23, 1)
}

.site-section.-active .background-heading {
  opacity: 1
}

.background-heading img {
  width: 100%;
  height: auto
}

:focus {
  outline: 0
}

.flip-btn {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--dodger-blue);
  line-height: 1;
  padding-left: 26px;
  text-transform: lowercase;
  padding-bottom: 4px;
  font-size: 13px
}

@media (min-width:800px) {
  .flip-btn {
      font-size: 16px;
      padding-left: 36px
  }
}

.flip-btn::before {
  content: '';
  display: block;
  position: absolute;
  height: 5px;
  background: linear-gradient(to right, #FF7679, #FF7DC5);
  /* background: var(--primary); */
  left: 0;
  width: 20px;
  top: 50%;
  margin-top: -1px;
  transition: transform .3s cubic-bezier(.42, .01, .23, 1);
  -ms-transform-origin: left;
  transform-origin: left
}

@media (min-width:800px) {
  .flip-btn::before {
      width: 30px
  }
}

.flip-btn span {
  display: inline-block;
  transition: transform .3s cubic-bezier(.42, .01, .23, 1);
  font-size: 1.2em;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-family: var(--raleway), sans-serif;
  font-weight: 700;
}

.flip-btn:hover span {
  -ms-transform: translateX(12px);
  transform: translateX(12px)
}

@media (min-width:800px) {
  .flip-btn:hover span {
    -ms-transform: translateX(18px);
    transform: translateX(18px)
  }
}

.flip-btn:hover::before {
  -ms-transform: scaleX(1.333);
  transform: scaleX(1.333)
}

.flip-btn--white {
  color: #fff
}

.flip-btn--grey {
  color: #a0a0a0
}

.work-item {
  position: relative;
  margin: 10em 0;
}

.work-item__info--box {
  padding: 1em;

  h3 {
    font-family: var(--open-sans), sans-serif;
    color: white;
  }

  p {
    color: white;
    font-family: var(--open-sans), sans-serif;
  }
}

.work-item h3,
.work-item p {
  margin: 0;
  width: 100%
}

.work-item h3 {
  margin-bottom: 20px
}

.work-item p {
  font-family: var(--raleway), sans-serif;
  font-weight: 300;
  margin-bottom: 20%;
  font-size: 1.2em;
  padding: 0;
}

@media (min-width:600px) {
  .work-item p {
    margin-bottom: 20%
  }
}

.work-item .flip-btn {
  color: inherit
}

@media (min-width:600px) {
  .work-item .flip-btn {
    margin-top: 30px
  }
}

@media (min-width:600px) {
    .work-item:nth-of-type(2n) .work-item__img {
        margin-left: 20px;
        margin-right: auto
    }
    .work-item:nth-of-type(2n) .work-item__info {
        left: auto;
        right: 0;
        margin-right: 20px
    }
}

.work-item__img {
    display: block;
    background: 0 0;
    overflow: hidden;
    margin-left: -10px;
    margin-right: -10px;
    transition: transform .4s cubic-bezier(.42, .01, .23, 1)
}

@media (min-width:600px) {
    .work-item__img {
        margin-left: auto;
        margin-right: 20px;
        width: calc(83.3333333% - 40px)
    }
}

.work-item__img img {
    width: 100%;
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: transform .4s cubic-bezier(.42, .01, .23, 1)
}

.work-item__img:hover {
    -ms-transform: scale(1.05);
    transform: scale(1.05)
}

.work-item__img:hover img {
    -ms-transform: scale(1);
    transform: scale(1)
}

.work-item__info {
    color: #fff;
    left: 0;
    bottom: 4%;
    margin-left: -10px;
    margin-right: -10px;
    padding: 15px 20px;
    background: #262b38;
}

@media screen and (max-width:600px) {
  .work-item {
    margin: 5em 1em;
  }
  .work-item__img {
    margin-left: 0;
    margin-right: 0;
  }
  .work-item__info {
    margin-left: 0;
    margin-right: 0;
    transform: none !important;
  }

  .top_right img {
    width: unset !important;  
  }

  .bottom_right img {
    width: unset !important;
  }

  .top_left img {
    width: unset !important;
  }
}

@media (min-width:600px) {
    .work-item__info {
        position: absolute;
        width: calc(50% - 40px);
        margin-left: 20px;
        margin-right: 0;
        padding: 0;
        background: 0 0
    }
    .work-item__info::before {
        content: '';
        display: block;
        padding-top: 100%
    }
    .work-item__info>div {
        background: #262b38;
        position: absolute;
        /* top: 0; */
        left: 0;
        right: 0;
        bottom: 0;
        /* padding: 0 18%; */
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: start;
        align-items: flex-start
    }
}

@media (min-width:1300px) {
    .work-item__info {
        width: calc(33.3333333% - 40px);
        bottom: 10%
    }
}

.work-item__squiggle {
    width: 16.6666666%;
    margin: 100px 0 100px calc(33.3333333% + 20px);
    opacity: .3
}

.work-item__squiggle:nth-of-type(even) {
    margin-left: calc(50% + 20px)
}

@media (max-width:599px) {
    .work-item__squiggle {
        display: none
    }
}


/* ============================= overlay =======================================*/
/* ============================= CASE STUDIES =======================================*/

#digital-courage {
  background: white;
}

.custom-wrapper {
  max-width: 1100px;

}

.pad {
  padding: 1em;
}

.story__box {
  color: #333;
  background: white;
  padding-bottom: 3em;
  display: grid;
  justify-content: center;
  justify-items: center;
  padding: 5em 1em;

  h2 {
    color: #606060;
    font-family: var(--raleway);
    font-weight: 300;
    margin-top: 4em;
    margin: 1em;
    text-align: center;
    font-size: 2.5em;
  }

  .column > h3 {
    margin-top: .5em;
  }

  p {
    padding: 0;
    margin: 1em 0;
  }

  a.btn.left {
    margin: 1em 0;
    display: inline-flex;
    width: max-content;
  }

  ol {
    color: var(--darker);
    margin: 1em;

    li {
      margin: .8em 0;
      font-family: var(--open-sans);
    }
  }

  img {
    display: block;
    margin: 1em auto;
  }

  span {
    color: var(--primary);
  }
}

.color-palette {
  width: 100px;
  height: 100px;
  margin: 10px auto;
}

.technologies__stack {
  display: grid;
  grid-gap: .8em;
  margin: 0 1em 2em 1em;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(30px, 50px));

  &--gulp {
    justify-self: center;
    max-width: 30px;
  }
  &--express {
    max-width: 80px;
    grid-column: span 2;
  }
}

.logo-rd {
  max-width: 100px;
  margin: .5em;
  /* display: block; */
}

@media screen and (min-width: 640px) {
  .medium-up {
    display: block;
  }
  .small-only {
    display: none !important;
  }
}
@media screen and (max-width: 639px) {
  .medium-up {
    display: none !important;
  }
  .small-only {
    display: block;
  }
  .digital-courage {
    a.btn {
      margin: 1em 0;
      display: block;
      width: auto;
    }
  }
}